# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.metadata
.idea/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# Maxfiy kalitlar (commit bo'lmasligi uchun)
lib/config.dart
